<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Task</title>

    <!-- Fontfaces CSS-->
    <link href="static/css/font-face.css" rel="stylesheet" media="all">
    <link href="static/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="static/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="static/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="static/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="static/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="static/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="static/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="static/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="static/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="static/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="static/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="static/css/theme.css" rel="stylesheet" media="all">

    <script type="text/javascript" charset="utf-8" async defer>
        function load() {
            fetchtask();
            fetchdoc(null); 
        }
    </script>
<style type="text/css" media="screen">
    .error{
        color: red;
    }    
</style>
</head>

<body class="animsition" onload="load();">
    <div class="page-wrapper">
      <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="static/images/icon/logo.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                    <li class="has-sub">
                        <a class="js-arrow" href="index.html">
                            <i class="fas fa-tachometer-alt"></i>Home</a>
                        
                        </li>
                        <li>
                            <a href="document.html">
                                <i class="fas fa-chart-bar"></i>Document</a>
                        </li>
                        <li>
                            <a href="branch.html">
                                <i class="far fa-check-square"></i>Branch</a>
                        </li>
                        <li>
                            <a href="employee.html">
                                <i class="fas fa-calendar-alt"></i>Employee</a>
                        </li>
                        <li class="active">
                            <a href="task.html">
                                <i class="fas fa-map-marker-alt"></i>Task</a>
                        </li>
                         <li>
                            <a href="expence.html">
                                <i class="fas fa-map-marker-alt"></i>Expences</a>
                        </li>
                         <li>
                            <a href="map.html">
                                <i class="fas fa-map-marker-alt"></i>UI Element</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="static/images/icon/logo.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class=" has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Home</a>
                        </li>
                       <li>
                            <a href="document.html">
                                <i class="fas fa-chart-bar"></i>Document</a>
                        </li>
                        <li class="">
                            <a href="branch.html">
                                <i class="far fa-check-square"></i>Branch</a>
                        </li>
                        <li>
                            <a href="employee.html">
                                <i class="fas fa-calendar-alt"></i>Employees</a>
                        </li>
                        <li class="active">
                            <a href="task.html">
                                <i class="fas fa-map-marker-alt"></i>Task</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="expence.html">
                                <i class="fas fa-copy"></i>Expences</a>
                            
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                              <i class="fas fa-desktop"></i>UI Element</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->


<!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
          <header class="header-desktop">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap">
                        <form class="form-header" action="" method="POST">
                            <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                            <button class="au-btn--submit" type="submit">
                                <i class="zmdi zmdi-search"></i>
                            </button>
                        </form>
                       
                            <div class="account-wrap">
                                <div class="account-item clearfix js-item-menu">
                                    <div class="image">
                                        <img src="static/images/icon/avatar-01.jpg" alt="John Doe" />
                                    </div>
                                    <div class="content">
                                        <a class="js-acc-btn" href="#">john doe</a>
                                    </div>
                                    <div class="account-dropdown js-dropdown">
                                        <div class="info clearfix">
                                            <div class="image">
                                                <a href="#">
                                                    <img src="static/images/icon/avatar-01.jpg" alt="John Doe" />
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h5 class="name">
                                                    <a href="#">john doe</a>
                                                </h5>
                                                <span class="email">johndoe@example.com</span>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__body">
                                            <div class="account-dropdown__item">
                                                <a href="#">
                                                    <i class="zmdi zmdi-account"></i>Account</a>
                                            </div>
                                            <div class="account-dropdown__item">
                                                <a href="#">
                                                    <i class="zmdi zmdi-settings"></i>Setting</a>
                                            </div>
                                            <div class="account-dropdown__item">
                                                <a href="#">
                                                    <i class="zmdi zmdi-money-box"></i>Billing</a>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__footer">
                                            <a href="#">
                                                <i class="zmdi zmdi-power"></i>Logout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
          </header>

        <!-- HEADER DESKTOP-->
        
        <!-- MAIN CONTENT-->
                <div class="main-content">
                    <div class="section__content section__content--p30">
                        <div class="container-fluid">
                            <div class="row" >
                                <div class="col-md-9 alertmsg" style="display:none;">
                                    <div class="sufee-alert alert with-close alert-info alert-dismissible fade show">
                                        <span class="badge badge-pill badge-secondary">Success</span>
                                        You have successfully performed.
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                 </div>
                            
                                  <div class="col-lg-3 ml-auto" style="padding:12px;text-align: right;">
                                    <div class="card-body">
                                    <button class="au-btn au-btn-icon au-btn--green au-btn--small" data-toggle="modal" data-target="#largeModal">
                                    <i class="zmdi zmdi-plus"></i>Add Task</button>
                                    </div>
                                 </div>
                                
                            </div>
                            <div class="row">
          
                             <div class="col-lg-12">
                                    <div class=" table-responsive table--no-card m-b-30">
                                        <table class="table table-borderless table-striped table-earning">
                                            <thead>
                                                <tr>
                                                    <th>Task Name</th>
                                                    <th>Processing Days</th>
                                                    <th>Cost</th>
                                                    <th>Documents</th>
                                                    <th class="text-center">Action</th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody class="tasktab">
                                 
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
             </div>
    </div>
    <!-- modal delete popup -->
            <div class="modal fade" id="staticModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true"
             data-backdrop="static">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticModalLabel">Delete Task</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                Are you sure you want delete this entry ..???
                            </p>
                        </div>
                        <input type="hidden" name="" class="dlt" >
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" onclick="deletetask();">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end modal deletepopup -->


<!-- MODDEL FOR ADD BRANCH -->    
      <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="largeModalLabel"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                           <div class="card">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <h3 class="text-center title-2">Task Register</h3>
                                        </div>
                                        <hr>
                                        <form id="formRegist" name="registration">
                                            
                                            <div class="row">
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label for="cc-exp" class="control-label mb-1">Task Name *</label>
                                                        <input id="task" name="task" type="text" class="form-control cc-exp" value="" data-val="true" placeholder="Please enter task name"
                                                            autocomplete="cc-exp">
                                                        <span class="help-block" data-valmsg-for="cc-exp" data-valmsg-replace="true"></span>
                                                    </div>
                                                </div>
                    
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label for="x_card_code" class="control-label mb-1">Process Days*</label>
                                                        <div class="form-group">
                                                            <input id="pday" name="pday" type="number" class="form-control cc-cvc" value="" data-val="true" placeholder="Please enter process days" autocomplete="off">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label for="cc-exp" class="control-label mb-1">Cost*</label>
                                                        <input id="cost" name="cost" type="number" class="form-control cc-exp" value="" data-val="true" placeholder="Please enter cost" 
                                                            autocomplete="cc-exp">
                                                        <span class="help-block" data-valmsg-for="cc-exp" data-valmsg-replace="true"></span>
                                                    </div>
                                                </div>
                                            </div> 
                                           <div class="row">
                                               <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="cc-exp" class="control-label mb-1">Documents*</label>
                                                        <input id="cost" name="cost" type="number" class="form-control cc-exp" value="" data-val="true" placeholder="Please enter documents" 
                                                            autocomplete="cc-exp">
                                                        <span class="help-block" data-valmsg-for="cc-exp" data-valmsg-replace="true"></span>
                                                    </div>
                                                    </div>
                                                </div>
                                           </div>

                                            <div>
                                                <button id="reg" type="submit" class="btn btn-lg btn-info btn-block">
                                                    <i class="fa fa-lock fa-lg"></i>&nbsp;
                                                    <span id="payment-button-amount">Save</span>
                                                    <span id="regv" style="display:none;">Registering</span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                        </div>
                       
                    </div>
                </div>
            </div>    

<!-- MODDEL FOR EDIT BRANCH -->

         <div class="modal fade" id="largeModalEdit" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="largeModalLabel"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                           <div class="card">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <h3 class="text-center title-2">Task Edit</h3>
                                        </div>
                                        <hr>
                                        <form id="formEdit" name="editingform">                                                                                       
                                            <div class="row">
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label for="cc-exp" class="control-label mb-1">Task Name *</label>
                                                        <input id="model_task" name="task" type="text" class="form-control cc-exp" value="" data-val="true" placeholder="Please enter task name"
                                                            autocomplete="cc-exp">
                                                        <span class="help-block" data-valmsg-for="cc-exp" data-valmsg-replace="true"></span>
                                                    </div>
                                                </div>
                    
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label for="x_card_code" class="control-label mb-1">Process Days*</label>
                                                        <div class="form-group">
                                                            <input id="model_pday" name="pday" type="number" class="form-control cc-cvc" value="" data-val="true" placeholder="Please enter process days" autocomplete="off">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label for="cc-exp" class="control-label mb-1">Cost*</label>
                                                        <input id="model_cost" name="cost" type="number" class="form-control cc-exp" value="" data-val="true" placeholder="Please enter place" 
                                                            autocomplete="cc-exp">
                                                        <span class="help-block" data-valmsg-for="cc-exp" data-valmsg-replace="true"></span>
                                                    </div>
                                                </div>
                                            </div> 
                                           
                                            <div>
                                                <button id="reg" type="submit" class="btn btn-lg btn-info btn-block">
                                                    <i class="fa fa-lock fa-lg"></i>&nbsp;
                                                    <span id="payment-button-amount">Update</span>
                                                    <span id="regv" style="display:none;">Registering</span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                        </div>
                       
                    </div>
                </div>
            </div>




    <!-- Jquery JS-->
<script src="static/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="static/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="static/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="static/vendor/slick/slick.min.js">
    </script>
    <script src="static/vendor/wow/wow.min.js"></script>
    <script src="static/vendor/animsition/animsition.min.js"></script>
    <script src="static/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="static/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="static/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="static/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="static/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="static/vendor/chartjs/Chart.bundle.min.js"></script>
<script src="static/vendor/select2/select2.min.js">

    </script>
<script src="static/http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

    <!-- Main JS-->
    <script src="static/js/main.js"></script>


 <script type="text/javascript" charset="utf-8" async defer>

function fetchdoc(id) {
if(id == null){
    var htmcnt='';
        $.getJSON('http://192.168.1.63:4700/view_document', function (data) {
            
            for (var i = 0; i < data.length; i++) {
                      htmcnt=htmcnt+'<div class="col-md-4"><div class="checkbox"><label><input type="checkbox" id="checkbox" name="docid" value="'+data[i].document_id+'">'+data[i].document_name+'</label></div></div>';
                                                                  
                     }
           $('.docs').html(htmcnt)
    });
   }else{
    var htmcnt='';
        $.getJSON('http://192.168.1.63:4700/view_task_doc?task_id='+id, function (data) {
            
            for (var i = 0; i < data.length; i++) {
                alert('dd')
                 htmcnt=htmcnt+'<input type="checkbox" name="checkbox" id="task'+data[i].document_id+'" value="'+data[i].document_id+'"/>';

            }
            alert(htmcnt)
           // $('.docs').html(htmcnt)
    });
   }      
} 



//  Function for Branch field validate and Register

$(function() {
  // Initialize form validation on the registration form.
  $("form[name='registration']").validate({
    // Specify validation rules
    rules: {
      // on the right side
      task: "required",
      pday: "required",
      cost: "required",
    },
    // Specify validation error messages
    messages: {
      task: "Please enter task name",
      pday: "Please enter process days",
      cost: "Please enter cost",
    },
    unhighlight: function (element) {
         $("select").removeClass("error");
         $("input").removeClass("error");
    },
    // Make sure the form is submitted to the destination defined
    // in the "action" attribute of the form when valid
    submitHandler: function(form) {
      // form.submit();
                var task = $("#task").val();
                var pday = $("#pday").val();
                var cost = $("#cost").val();
                var userList = $('input[type=checkbox]:checked').serializeArray();
                alert(userList)
                 // $('input[type=checkbox]:checked').serializeArray()$.each(array/object, function(index, val) {
                     /* iterate through array or object */
                // });
                alert($("form[name='registration']").serialize())
                //     $.getJSON('http://192.168.1.63:4700/reg_task', {
                //         task: task,
                //         pday: pday,
                //         cost: cost,
                //         docid: selectedItems,
                //     }, function (data) {
                //         $('.alertmsg').css('display','block')  
                //         // alert box hide after 2 seconds
                //         $('.alertmsg').delay(2000).fadeOut();
                //         fetchdoc();
                //       $('#largeModal').modal('hide')  
                // });
             $.ajax({
                  url: "http://192.168.1.63:4700/reg_task",
                  data: $("form[name='registration']").serialize(),
                })
                .done(function(data) {
                   $('.alertmsg').css('display','block')  
                        // alert box hide after 2 seconds
                        $('.alertmsg').delay(2000).fadeOut();
                        fetchdoc();
                      $('#largeModal').modal('hide')  
                })
                .fail(function(data) {
                  console.log("error");
                });    
            }
          });
   });

//  Function for Branch field validate and update

    $(function() {
      // Initialize form validation on the registration form.
      $("form[name='editingform']").validate({
        // Specify validation rules
        rules: {
          // on the right side
          task: "required",
          pday: "required",
          cost: "required",
        },
        // Specify validation error messages
        messages: {
          task: "Please enter task name",
          pday: "Please enter process days",
          cost: "Please enter cost",
        },
        unhighlight: function (element) {
             $("select").removeClass("error");
             $("input").removeClass("error");
         },
        // Make sure the form is submitted to the destination defined
        // in the "action" attribute of the form when valid
        submitHandler: function(form) {
                    var task = $("#model_task").val();
                    var pday = $("#model_pday").val();
                    var cost = $("#model_cost").val();
                $.getJSON('http://192.168.1.63:4700/update_task', {
                           task: task,
                           pday: pday,
                           cost: cost,
                        }, function (data) {
                            $('.alertmsg').css('display','block')  
                                      // alert box hide after 2 seconds
                            $('.alertmsg').delay(2000).fadeOut();
                            fetchdoc();
                              $('#largeModalEdit').modal('hide')  
                            
           
                    });
                }
              });
    });

// Clear model items when hide the model
    $('#largeModalEdit').on('hidden.bs.modal', function () {
        $(this).find("input,textarea,select").removeClass('error')
        $("label[class='error']").css('display','none')
    });

    $('#largeModal').on('hidden.bs.modal', function () {
        $(this).find("input,textarea,select").val('').end();
        $(this).find("input,textarea,select").removeClass('error')
        $("label[class='error']").css('display','none')
    });

// Function for task View

    function fetchtask() {
        var htmcnt='';
            $.getJSON('http://192.168.1.63:4700/view_task', function (data) {
                console.log(JSON.stringify(data));
                for (var i = 0; i < data.length; i++) {
                     htmcnt=htmcnt+'<tr><td>'+data[i].task+'</td>'+
                     '<td>'+data[i].processdays+'</td>'+
                     '<td>'+data[i].cost+'</td>'+
                     '<td><button class="fa fa-list" style="font-size:28px;color:blue" onclick="fetchdoc('+data[i].task_id+')"></button></td>'+
                     '<td style="text-align: center;"><button type="" class="btn btn-primary"  onclick="edit('+data[i].task_id+');">Edit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-danger dltBtn" data-id='+data[i].task_id+'>Delete</button></td></tr>';

                }
               $('.tasktab').html(htmcnt)
        
           });   
    } 

 $(document).on('click','.dltBtn',function(){

    var id=$(this).data('id');
    $('.dlt').val(id);
   $('#staticModal').modal('show');

 }); 

// Function for Branch list delete entry

   function deletetask() {
       var id= $('.dlt').val();
            $.ajax({
                  url: "http://192.168.1.63:4700/delete_task?task_id="+id,
                  type: 'GET',
                })
                .done(function(data) {
                  $('.alertmsg').css('display','block')  
                          // alert box hide after 2 seconds
                  $('.alertmsg').delay(2000).fadeOut();
                  $('#staticModal').modal('hide');
                  fetchtask();
                })
                .fail(function(data) {
                  console.log("error");
                });    
    }

// Function for Branch edit datas setting on model

    function editbranch(id) {
            $.ajax({
                  url: "http://192.168.1.63:4700/edit_task?task="+id,
                  type: 'GET',
                  dataType: 'json',
                })
                .done(function(data) {
                    console.log(data)
                  $('#model_task').val(data.task)
                  $('#model_cost').val(data.cost)
                  // $("#model_sdist").val(data.district).find("option[value=" + data.district +"]").attr('selected', true);
                  $('#model_pday').val(data.pday);
                })
                .fail(function() {
                  console.log("error");
                });
                
                $('#largeModalEdit').modal('show')
    }

</script>
</body>

</html>
<!-- end document-->
